/* GLOBAL */

$bgColor: grey;
$wrapperBgColor: lightgray;
$detailsBgColor: crimson;
$detailsTextColor: white;
$buttonsAndInputsRadius: 10px;
@mixin centerDisplay {
    display: grid;
    place-items: center;
}

@mixin onHoverStyle {
    color: $detailsTextColor;
    background-color: $detailsBgColor;
    cursor: pointer;
}

@mixin selectAndInputStyles ($Width) {
    @include centerDisplay();
    align-items: center;
    justify-content: center;
    border: 1px solid $bgColor;
    outline: 1px;
    background: $bgColor;
    width: $Width;
    padding: 5px;
    height: 30px;
    border-radius: $buttonsAndInputsRadius;
    color: $detailsTextColor;
    box-shadow: 6px 6px 10px -2px black;
    option {
        @include onHoverStyle();
    }
}

@mixin popups($Background, $Width, $Height, $Top) {
    position: absolute;
    background: $Background;
    width: $Width;
    height: $Height;
    top: $Top;
}

@mixin showAnimation {
    animation-name: driveII;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

body {
    background-color: $bgColor;
}


/* WRAPPER */

#wrapper {
    max-width: 950px;
    margin: 0 auto;
    background-color: $wrapperBgColor;
    border: 1px solid $detailsTextColor;
    border-radius: 10px;
}


/* HEADER */

header {
    position: relative;
    img {
        display: block;
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
}

#weather-text {
    position: absolute;
    bottom: 0px;
    font-size: 24px;
    padding-left: 5px;
    color: $detailsTextColor;
    width: 25%;
    text-align: center;
}

.weather-text-inputed {
    @include showAnimation();
}

@keyframes driveII {
    from {
        transform: scaleX(1%);
    }
    to {
        transform: scaleX(100%);
    }
}


/* NAV MENU */

.active {
    background-color: $detailsBgColor;
}

nav {
    overflow: hidden;
    a {
        display: block;
        width: 25%;
        float: left;
        color: $detailsTextColor;
        text-align: center;
        text-decoration: none;
        background-color: $bgColor;
        padding: 15px 10px;
        transition: all 1s ease;
        &:hover {
            background-color: $detailsBgColor;
            cursor: pointer;
        }
    }
}


/* SECTION */

section {
    display: grid;
    width: 100%;
    content {
        margin-top: 40px;
        margin-bottom: 20px;
        a,
        p {
            text-align: center;
            display: block;
            padding: 5px 5px;
            margin-top: 5px;
        }
    }
}


/* FOOTER */

footer {
    height: 40px;
    background-color: $bgColor;
    color: $detailsTextColor;
    text-align: center;
    line-height: 40px;
    border-radius: 0px 0px 10px 10px;
}

.footer_active {
    background: $detailsBgColor;
    @include showAnimation();
}


/* SELEKTOR */

.selektor {
    @include centerDisplay();
    width: 30%;
    height: 90%;
    border-right: 1px solid $bgColor;
    padding-left: 5%;
    float: left;
    margin-bottom: 30px;
    form {
        min-width: 100%;
    }
    input {
        @include selectAndInputStyles(80%)
    }
}

select {
    @include selectAndInputStyles(80%)
}

label {
    display: block;
    color: $detailsBgColor;
    font-size: .9em;
    margin-top: 5px;
}

#search-flight {
    @include selectAndInputStyles(80%);
    &:hover {
        @include onHoverStyle();
    }
    margin-top: 40px;
}


/* RESULTS */

.results {
    @include centerDisplay();
    width: 70%;
    float: left;
    padding: 5px;
    #form-icon {
        font-size: 80px;
    }
    table {
        width: 100%;
        padding: 2%;
        text-align: center;
        margin-top: 15px;
        font-size: 14px;
        td {
            width: 19%;
            color: black;
            padding: 10px;
            margin: 0.5%;
            border-radius: 20px;
            display: block;
            float: left;
            input {
                background: $bgColor;
                color: $detailsTextColor;
                width: 100%;
                font-size: 1.2em;
                padding: 5px;
                justify-content: center;
                cursor: pointer;
                border-radius: 10px;
                transition: all 1s ease;
                border: none;
                &:hover {
                    background: $detailsBgColor;
                    border-radius: 10px;
                }
            }
        }
    }
}


/* FLIGHT LOADING ANIMATION */

#loading {
    font-size: 50px;
    padding-top: 20%;
    animation-name: driveI;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 4;
    font-size: 15px;
}

@keyframes driveI {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// wyniki wyszukiwania
#table-flight1 {
    border: 1px solid $detailsBgColor;
    margin: 5px;
    padding: 0px;
    width: 99%;
    border-radius: 15px;
    background-color: whitesmoke;
}

// wyniki wyszukiwania czesc 2
#personSelect {
    width: 0%;
}


/* POPUP */

.popup {
    @include popups(#f5f5f5, 300px, 440px, -150%);
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    z-index: 2;
    opacity: 0;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
    .popup-close {
        @include popups(#555, 40px, 40px, -10px);
        right: -10px;
        color: #f5f5f5;
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
    }
    .form {
        .popup-avatar {
            margin: 30px 0px 20px;
            text-align: center;
            img {
                width: 120px;
            }
        }
        .popup-header {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            color: #222;
            margin: 20px 0px;
        }
        .popup-element {
            padding: 8px 20px;
            label {
                display: block;
                font-size: 14px;
                color: #222;
                margin-bottom: 5px;
            }
            input {
                width: 100%;
                padding: 8px 10px;
                box-sizing: border-box;
                outline: none;
                border: 1px solid #aaa;
                background: #eee;
                border-radius: 5px;
            }
            button {
                margin-top: 5px;
                width: 100%;
                padding: 10px 0px;
                text-transform: uppercase;
                outline: none;
                border: none;
                font-size: 15px;
                font-weight: 600;
                border-radius: 5px;
                cursor: pointer;
                background: $detailsBgColor;
                color: $detailsTextColor;
            }
        }
    }
}

.showpopup {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.wrongpassword {
    border: 1px solid red !important;
}

// lista osoba bagażu
#luggage1,
#pSelect {
    width: 80px;
    margin-left: 13%;
}

#currency {
    display: inline-block;
    width: 100px;
    margin-left: 2%;
    margin-top: 5px;
}

#seatsForwardButton,
#forwardButton,
#finalConfirmButton,
#seatsReset {
    @include selectAndInputStyles(100%);
    &:hover {
        @include onHoverStyle();
    }
}

//czas live
#time-text {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 100%;
    color: white;
    text-align: right;
}


/* MEDIA QUERIES */

@media (max-width: 800px) {
    nav a {
        width: 50%;
        padding: 8px 8px;
    }
    #weather-text {
        font-size: 25px;
        width: 50%;
    }
    #search-flight {
        font-size: 18px;
    }
    td input {
        font-size: 15px;
    }
}

@media (max-width: 550px) {
    nav a {
        width: 25%;
        padding: 4px 4px;
    }
    nav {
        position: fixed;
        top: 0px;
        width: 100%;
        border-bottom: 1px solid $detailsTextColor;
        border-radius: 10px 10px 0px 0px;
    }
    header {
        top: 26px;
    }
    header img {
        border-radius: 0px 0px 0px 0px;
    }
    #weather-text {
        font-size: 25px;
        width: 100%;
        text-align: right;
        right: 5px;
    }
    #search-flight {
        font-size: 14px;
    }
    td input {
        font-size: 12px;
    }
    .selektor label {
        font-size: .75em;
    }
    .results {
        display: grid;
        width: 100%;
    }
    .selektor {
        display: grid;
        width: 100%;
        padding-left: 15%;
    }
    section {
        width: 100%;
        margin-top: 30px;
    }
    content {
        display: grid;
    }
    #seatsForwardButton,
    #forwardButton,
    #finalConfirmButton,
    #seatsReset {
        display: grid;
        position: absolute;
        right: 5%;
        width: 25%;
    }
    #login {
        height: 27px;
        overflow: auto;
    }
    tr {
        font-size: 0.80em;
        margin-top: 20px;
    }
    svg {
        max-width: 350px;
    }
    #time-text {
        top: 5px;
    }
    #footer {
        margin-top: 20px;
    }
}